* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* Estilos generales */
body {
    background-color: #fadca4;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p {
    font-family: 'Crimson Text';
    font-size: 22px;
    font-weight: 600;
}

h2 {
    font-family: Pacifico;
    font-size: 30px; 
}

img {
    border: solid 5px;
}
/* Estilos del encabezado */
header {
    background-color: #e93578;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: solid 5px;
}

/* Estilos de la barra de navegación */
.barraNavegacion {
    text-align: center;
}

.lista {
    list-style: none;
    display: flex;
    justify-content: center;
}

.lista li {
    margin: 20px 15px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 
    font-weight: 700;
}

.lista a {
    text-decoration: none;
    color: black;
}

/* Estilos del título */
h1 {
    font-family: Pacifico;
    font-size: 80px; 
    text-align: center;
}

/* Estilos del banner */
.contenedor {
    text-align: center;
}

.contenedor img {
    width: 60%; 
    display: block;
    margin: 0 auto;
}

/* Estilos del párrafo debajo del banner */
.contenedor1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 350px 10px 350px;
    
}

.contenedor1 p {
    margin-right: 65px;
}

/* Estilo para las imágenes dentro del index*/
.container img {
    width: 300px;
    height: 300px;
    border-radius: 120px;
}

/* Estilos del footer */
footer {
    background-color: #e93578;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding: 0;
    border: solid 5px;
}

footer h2 {
    text-align: center;
}

/* Estilos de los enlaces del footer */
.contenedor3 {
    text-align: center;
}

.lista2 {
    list-style: none;
    display: flex;
    justify-content: center;
}

.lista2 li {
    margin: 20px 15px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 
    font-weight: 700;
}

.lista2 a {
    text-decoration: none;
    color: black;
}

/* Estilos del párrafo que cuenta la historia del lugar en nosotros*/
.historia {
    text-align: center;
}

.historia h2 {
    font-family: Pacifico;
    font-size: 30px; 
}

.historia p{
    margin-right: 65px;
    margin-left: 65px;
}

.historia img{
    width: 55%;
    height: 300px;
}
/* Estilos aplicados a la pagina con la ubicacion del lugar*/

.ubicacion {
    text-align: center;
}
.ubicacion h2{
    text-align: center;
}

.ubicacion p {
    text-align: center;
    padding: 0 300px 0 300px;
}

.ubicacion iframe {
    margin-left: 50px;
}

/* Estilos aplicados a la pagina de contacto(Formulario e informacion de contacto)*/


.formulario1 {
    text-align: center;
    padding: 20px;
}

.infoo {
    text-align: center;
    margin-left: 50px;
}