@charset "UTF-8";
/*ancho y alto predeterminado a usar*/
/*borde con grosor que utilizo para varias cosas*/
/*centrado predeterminado a utilizar mayormente*/
/*color que utilizo para el encabezado y el pie de pagina*/
/*color que utilizo para el body en general como fondo*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

/* Estilos generales */
body {
  background-color: #fadca4 !important;
  width: 100%;
  height: 100%;
}

p {
  font-family: "Crimson Text";
  font-size: 22px;
  font-weight: 600;
}

h2 {
  font-family: Pacifico;
  font-size: 30px;
  text-align: center;
}

img {
  border: solid 5px;
}

header, footer {
  width: 100%;
  object-fit: cover;
}

/* Estilos del encabezado */
header {
  background-color: #e93578;
  width: 100%;
  height: 100%;
  border: solid 5px;
}

/* Estilos de la barra de navegación */
.container-fluid {
  background-color: #e93578;
  /* Estilos del Logo de la página*/
}
.container-fluid li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.container-fluid .navbar-brand img {
  height: 80px;
  width: 150px;
  border: none;
}

/* Estilos del título */
h1 {
  font-family: Pacifico;
  font-size: 80px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Estilos del banner */
.contenedor {
  text-align: center;
  padding-bottom: 80px;
}
.contenedor img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

/* Estilos del párrafo debajo del banner */
.contenedor1 {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

/* Estilo para las imágenes dentro del index*/
.container img {
  width: 300px;
  height: 300px;
  border-radius: 120px;
  text-align: center;
}

/* Estilos del footer */
footer {
  background-color: #e93578;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  border: solid 5px;
}
footer h2 {
  text-align: center;
}

/* Estilos de los enlaces del footer */
.contenedor3 {
  text-align: center;
}
.contenedor3 .lista2 {
  list-style: none;
  display: flex;
  justify-content: center;
}
.contenedor3 .lista2 li {
  margin: 20px 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.contenedor3 .lista2 li a {
  text-decoration: none;
  color: black;
}

/* Estilos del párrafo que cuenta la historia del lugar en nosotros*/
.historia {
  text-align: center;
}
.historia h2 {
  font-family: Pacifico;
  font-size: 30px;
}
.historia p {
  margin-right: 65px;
  margin-left: 65px;
}
.historia img {
  width: 55%;
  height: 300px;
}

/* Estilos aplicados a la pagina con la ubicacion del lugar*/
.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ubicacion div {
  max-width: 800px;
  width: 100%;
}
.ubicacion h2 {
  text-align: center;
}
.ubicacion p {
  text-align: center;
  padding: 0 100px 30px 100px;
}
.ubicacion iframe {
  margin-left: 50px;
  border: solid 5px;
  height: 300px;
  width: 500px;
}

/* Estilos aplicados a la pagina de contacto(Formulario e informacion de contacto)*/
.container {
  margin-top: 50px;
}
.container .contacto {
  text-align: left;
}

/* Estilos aplicados a los carrouseles*/
.carousel-item img {
  height: 450px;
  width: 100px;
}

.subtcarru h2 {
  margin: 800px;
}

#carouselWithCaptions {
  max-width: 900px;
  margin: auto;
}

#carouselWithCaptions2 {
  max-width: 900px;
  margin: auto;
}

#carouselWithCaptions3 {
  max-width: 900px;
  margin: auto;
}

.subtcarru {
  margin: 30px;
}

/* Estilos aplicados a la pagina de error 404*/
.error4 {
  font-family: "Arial", sans-serif;
  background-color: #fadca4;
  color: black;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.error4 h1 {
  color: #e93578;
}

.error40 {
  max-width: 600px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

/* Medias Queries */
@media (max-width: 400px) {
  footer .contenedor3 .lista2 a {
    font-size: 15px;
  }
}
/* Medias Queries del carousel */
@media (max-width: 580px) {
  #carouselWithCaptions .carousel-caption h5,
  #carouselWithCaptions2 .carousel-caption h5,
  #carouselWithCaptions3 .carousel-caption h5 {
    font-size: 20px;
    display: block;
    color: black;
    z-index: 1;
    visibility: visible;
  }
}
/* Medias Queries de la pagina de formularios*/
@media (max-width: 990px) {
  .espacioFormu {
    margin-bottom: 20px;
  }
  .contacto {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* Medias Queries de la pagina de nuestroLocal*/
@media (max-width: 600px) {
  .ubicacion iframe {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
