@import "./partials/variables";
@import "./partials/resets";
@import "./partials/_placeholders.scss";

// Mixin para texto con sombra
@mixin texto-con-sombra {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


/* Estilos generales */
body {
    background-color: $galleta ;
    @extend %todo100;
}

p {
    @extend %texto-comun;
    @include texto-con-sombra;
}

h2 {
    font-family: $tipoh2y1;
    font-size: $tah2; 
    text-align: $centrado;
    @include texto-con-sombra;
}

img {
    border: $borde;
}

header, footer {
    width: $anchoCien;
    object-fit: cover;
}

/* Estilos del encabezado */
header {
    @extend %encabezado-pie;
    height: $altoCien;
}

/* Estilos de la barra de navegación */
.container-fluid {
    background-color: $chicle;
    li {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: $alCien - 80px; 
        font-weight: 700;
    }  
/* Estilo de hover para los enlaces en el navbar */
.navbar-nav a:hover {
    color: $galleta; 
    background-color: $vinito; 
    transition: color $duracion-transicion ease-in-out;
}

/* Estilos del Logo de la página*/
    .navbar-brand img{
        height: $alCien - 20;
        width: $alCien + 50;
        border: $nadaa;
    }
}

/* Estilos del título */
h1 {
    font-family: $tipoh2y1;
    font-size: $alCien - 20px; 
    text-align: $centrado;
    padding-top: 50px;
    padding-bottom: 50px;
    @include texto-con-sombra;
}

/* Estilos del banner */
.contenedor {
    text-align: $centrado;
    padding-bottom: $alCien - 20px;
    img {
        width: $anchoCien - 40; 
        display: block;
        margin: 0 auto;
    }
}
/* Estilos del párrafo debajo del banner */
.contenedor1 {
    text-align: $centrado;
    padding-left: $alCien;
    padding-right: $alCien;
}

/* Estilo para las imágenes dentro del index*/
.container img {
    width: $alCien * 3;
    height: $alCien * 3;
    border-radius: $alCien+20px;
    text-align: $centrado;

    &:hover {
        width: $alCien * 3.2;
        height: $alCien * 3.2;
        transition: $duracion-transicion ease-in-out;
    }
}
    h2 {
        text-align: $centrado;
        padding: 20px 0 20px 0;
    }

/* Estilos del footer */
footer {
    @extend %encabezado-pie;
    margin-top: $alCien;

    nav {
        .lista2 {
            li {
                a {
                color: $galleta; 
                transition: color $duracion-transicion ease-in-out;
    
                    &:hover {
                color: $galleta;
                background-color: $vinito;
                    }
                }
            }
        }
    }
    
    h2 {
        text-align: $centrado;
    }
}
/* Estilos de los enlaces del footer */
.contenedor3 {
    text-align: $centrado;
    .lista2 {
        list-style: $nadaa;
        display: flex;
        justify-content: $centrado;
        li {
            margin: 20px 15px; 
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: $alCien - 80px; 
            font-weight: 700;
            a {
                text-decoration: $nadaa;
                color: $oscurito;
            }
        }
    }
}
/* Estilos del párrafo que cuenta la historia del lugar en nosotros*/
.historia {
    text-align: $centrado;
    h2 {
        font-family: $tipoh2y1;
        font-size: $alCien - 70px; 
    }
    p{
        margin-right: $alCien - 35px;
        margin-left: $alCien - 35px;
    }
    img{
        width: $anchoCien - 45;
        height: $alCien*3;
        border-radius: $alCien + 20;
    }
}
/* Estilos aplicados a la pagina con la ubicacion del lugar*/
.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: $centrado;
    text-align: $centrado;

    div {
        max-width: $alCien * 8;
        width: $anchoCien;
    }

    h2{
        text-align: $centrado;
    }
    
    p{
    text-align: $centrado;
    padding: 0 $alCien $alCien - 70 $alCien;
    }
    iframe {
        border: $borde;
        height: $alCien * 3;
        width: $alCien * 5;
    }
} 
/* Estilos aplicados a la pagina de contacto(Formulario e informacion de contacto)*/
.container {
    margin-top: $alCien - 50px;

    label {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: $alCien - 85px; 
        font-weight: 700;
        padding: 10px 0 5px 0;
    }
    
    input {
        border: solid 2px;
    }

    .botoncito {
        padding-top: 15px;
    }
        
        button {
        color: $oscurito;
        background-color: $chicle;
    }

    .contacto {
        text-align: left;
    }
}
/* Estilos aplicados a los carrouseles*/
.carousel-item img {
    height: $alCien*4.5;
    width: $alCien;
}

.subtcarru h2 {
    margin: $alCien*8;
}
#carouselWithCaptions {
    max-width: $alCien*9;
    margin: auto;
}

#carouselWithCaptions2 {
    max-width: $alCien*9;
    margin: auto;
}

#carouselWithCaptions3 {
    max-width: $alCien*9;
    margin: auto;
}
.subtcarru {
    margin: $alCien - 70px;
}

/* Estilos aplicados a la pagina de error 404*/
.error4 {
    font-family: 'Arial', sans-serif;
    background-color: $galleta;
    color: $oscurito;
    text-align: $centrado;
    padding: $alCien - 70;
    display: flex;
    flex-direction: column;
    align-items: $centrado;
    justify-content: $centrado;
    min-height: 100vh;

    h1 {
        color: $chicle;
        font-size: $alCien - 40;
    }

    .triste {
        height: $alCien * 1.5;
        width: $alCien * 1.5;
        border: $nadaa;
        animation-duration: 2s;
    }
}

.error40 {
    max-width: $alCien * 6;
    text-align: $centrado;
}


@import "./partials/mediaqueries"







