/*ancho y alto predeterminado a usar*/
$anchoCien: 100%;
$altoCien: 100%;
/*borde con grosor que utilizo para varias cosas*/
$borde: solid 5px;
/*centrado predeterminado a utilizar mayormente*/
$centrado: center;
$alCien: 100px;
/*color que utilizo en varios lugares*/
$chicle: #e93578;
